Repository filecoin-project/venus, pull requests merged in 2019-06, with the labels that each got.

#2882 Feat/block validation interface
  chain/default_store_test.go
  chain/default_syncer.go
  chain/default_syncer_test.go
  consensus/block_validation.go
  consensus/expected.go
  consensus/expected_test.go
  consensus/protocol.go
  net/fetcher.go
  net/fetcher_test.go
  node/node.go
  testhelpers/chain.go
  testhelpers/consensus.go
Labels: A-consensus

#2912 add metric to count reorgs
  chain/syncer.go
Labels: A-infrastructure

#2957 Add a timer for syncer.SyncOne, the duration to validate a tipset
  chain/syncer.go
  consensus/processor.go
  metrics/timer.go
  metrics/timer_test.go
Labels: A-chain
